body{
    margin: 0px;
}

#nav-bar{
    background-color: black;
}

#center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #feda10;
    margin-left: 25vw;
    margin-top: 25vh;
    width:50vw;
    position: absolute;
}

#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#container{
    position: relative;
}

button{
    width: 30vw;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: helvetica;
    font-weight: bold;
    border: 0;
}

img{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h2, p, label,a,.card-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a{
    color: white;
    font-weight: bold;
}

label{
    font-size: small;
}

p{
    text-align: center;
    font-size: small;
}

.menu-item{
    background-color: rgb(0, 0, 0);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-image {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-text{
    color: white;
}

.card-price{
    color: #feda10;
    font-weight: bold;
}
